name: Conan Submission Workflow
permissions:
  contents: read
on:
  push:
    branches: [ "main" ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  conan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Conan
        uses: ./
        with:
          python-version: 3.11
